Repository netingweb/atlas-headless-crm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=150, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=150", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

Update Dockerfile
  apps/api/Dockerfile
Due: none

Update apikey.ts
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=150, prettier --write

Fix argon2 native module rebuild for Docker Debian image
  apps/api/Dockerfile
Due: none

Add Traefik labels for API and Agent Service domains with HTTPS
  docker-compose.yml
Due: prettier --write

Fix Traefik certificate resolver name from letsencrypt to mytlschallenge
  docker-compose.yml
Due: prettier --write

fix docker
  .cursor/worktrees.json
  .dockerignore
  apps/playground/.env.backup
  packages/search/src/indexing.ts
  scripts/docker-reset-commands.md
  scripts/fix-docker.sh
  scripts/reset-docker.sh
  scripts/test-start-all.sh
Due: eslint --fix --max-warnings=150, prettier --write

Add internal network configuration to Docker Compose for all services
  docker-compose.yml
Due: prettier --write

fix: resolve agent-service authentication and OpenAI API key loading issues
  .gitignore
  SETUP-SUMMARY.md
  apps/agent-service/src/env.ts
  apps/agent-service/src/server.ts
  apps/agent-service/src/services/agent-registry.ts
  apps/agent-service/src/services/agent-runtime.ts
  apps/agent-service/src/services/mcp-client.ts
  apps/api/src/common/filters/http-exception.filter.ts
  apps/playground/src/components/ui/alert.tsx
  docs/guides/local-development-setup.md
  docs/guides/mongodb-replica-set-local.md
  scratchpad.md
  scripts/check-data-servizi.sh
  scripts/check-workflow-logs.ts
  scripts/list-contacts.ts
  scripts/start-all.sh
  scripts/start-dev-local.sh
  scripts/test-contact-update.ts
  scripts/test-webhook-response.ts
  scripts/test-workflow-trigger.sh
  scripts/trigger-workflow-manual.ts
  scripts/update-workflow-api.json
Due: eslint --fix --max-warnings=150, prettier --write

fix: make Docker Hub login optional in CI workflow
  .github/workflows/docker.yml
  README.md
Due: prettier --write

fix: resolve ESLint errors and warnings
  apps/agent-service/package.json
  apps/agent-service/src/services/tracing-factory.ts
  packages/core/src/validation.ts
  packages/utils/src/logger.ts
Due: eslint --fix --max-warnings=150, prettier --write

chore: apply prettier formatting (trailing newlines)
  .dockerignore
  packages/search/src/indexing.ts
  scripts/check-data-servizi.sh
  scripts/docker-reset-commands.md
  scripts/fix-docker.sh
  scripts/reset-docker.sh
  scripts/start-dev-local.sh
  scripts/test-start-all.sh
  scripts/test-workflow-trigger.sh
Due: eslint --fix --max-warnings=150, prettier --write

commit
  email-preview.html
Due: none
