Repository netingweb/atlas-headless-crm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=150, prettier --write

fix: add dotenv as direct dependency of API and use pnpm start
  .github/workflows/ci.yml
  apps/api/package.json
  pnpm-lock.yaml
Due: prettier --write

fix vari
  apps/api/src/entities/entities.module.ts
  apps/api/src/mcp/mcp.service.ts
  apps/api/src/stats/stats.module.ts
  apps/api/src/stats/stats.service.ts
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/lib/api/stats.ts
  apps/playground/src/pages/Dashboard.tsx
Due: eslint --fix --max-warnings=150, prettier --write

fix: specify correct entry file path for nest start
  apps/api/package.json
Due: prettier --write

fix: use correct OpenAPI endpoint /docs/json instead of /docs-json
  .github/workflows/ci.yml
Due: prettier --write

fix workslows
  apps/playground/src/pages/WorkflowsList.tsx
  config/demo2/workflows.json
Due: eslint --fix --max-warnings=150, prettier --write

fix workflows logs
  apps/api/src/workflows/workflows.controller.ts
  apps/api/src/workflows/workflows.service.ts
  apps/playground/src/lib/api/workflows.ts
  apps/playground/src/pages/WorkflowsList.tsx
  apps/workflow/src/workflow-engine.ts
  apps/workflow/src/workflow-logger.ts
  scripts/cleanup-old-workflow-executions.ts
  scripts/sync-config.ts
Due: eslint --fix --max-warnings=150, prettier --write

feat: add Spectral configuration for OpenAPI validation
  .github/workflows/ci.yml
  .spectral.yml
Due: prettier --write

fix: correct Spectral ruleset configuration
  .spectral.yml
Due: prettier --write

datatable
  apps/playground/package.json
  apps/playground/src/components/layout/Sidebar.tsx
  apps/playground/src/components/settings/EntityVisibilityTab.tsx
  apps/playground/src/components/ui/data-table-export.tsx
  apps/playground/src/components/ui/data-table-pagination.tsx
  apps/playground/src/components/ui/data-table-search.tsx
  apps/playground/src/components/ui/data-table.tsx
  apps/playground/src/pages/EntityList.tsx
  apps/playground/src/pages/WorkflowsList.tsx
  apps/playground/src/stores/entity-visibility-store.ts
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=150, prettier --write

fix: correct OpenAPI specification errors
  .cursor/plans/csv-import-implementation-3c1bb832.plan.md
  apps/api/src/config/config.controller.ts
  apps/api/src/config/dto/playground-settings.dto.ts
  apps/api/src/documents/documents.controller.ts
  apps/api/src/entities/entities.controller.ts
  apps/api/src/main.ts
  apps/api/src/workflows/workflows.controller.ts
Due: eslint --fix --max-warnings=150, prettier --write

fix: handle outdated pnpm-lock.yaml in Docker build
  apps/api/Dockerfile
Due: none

docs: add lockfile best practices to .cursorrules
  .cursorrules
Due: none

fix: ensure all workspace package directories exist in Docker production stage
  apps/api/Dockerfile
Due: none

fix: ensure all workspace package directories exist in Docker base stage
  apps/api/Dockerfile
Due: none

fix: ignore scripts during production install to avoid husky error
  apps/api/Dockerfile
Due: none

feat: configure docker-compose.yml for Dokploy deployment
  docker-compose.yml
  docs/guides/dokploy-setup.md
Due: prettier --write

feat: add docker-compose.override.yml for local development
  .gitignore
  README-DOKPLOY.md
  docker-compose.override.yml.example
Due: prettier --write

docs: add guide for exposing MCP server externally
  docker-compose.override.yml.example
  docs/guides/mcp-remote-server.md
  docs/guides/mcp-server.md
Due: prettier --write

fix vari
  apps/api/Dockerfile
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/lib/ai/memory.ts
  docker-compose.yml
Due: eslint --fix --max-warnings=150, prettier --write

seed for demo
  config/demo/entities.json
  scripts/seed-demo-data.ts
Due: eslint --fix --max-warnings=150, prettier --write

Create stand-c151b6bc.plan.md
  .cursor/plans/stand-c151b6bc.plan.md
Due: prettier --write

fix: align playground agent client types
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/lib/ai/actionable-questions.ts
Due: eslint --fix --max-warnings=150, prettier --write

fix: resolve linting errors in agent-service
  apps/agent-service/Dockerfile
  apps/agent-service/package.json
  apps/agent-service/src/config/agent-config-loader.test.ts
  apps/agent-service/src/config/agent-config-loader.ts
  apps/agent-service/src/server.ts
  apps/agent-service/src/services/agent-registry.ts
  apps/agent-service/src/services/agent-runtime.test.ts
  apps/agent-service/src/services/agent-runtime.ts
  apps/agent-service/src/services/auth-verifier.ts
  apps/agent-service/src/services/mcp-client.ts
  apps/agent-service/src/services/session-manager.ts
  apps/agent-service/src/tools/mcp-tool-factory.ts
  apps/agent-service/src/types/session.ts
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/settings/AIEngineTab.tsx
  apps/playground/src/components/settings/AgentObservabilityTab.tsx
  apps/playground/src/lib/ai/agent-logger.ts
  docker-compose.yml
  docs/architecture/agent-service.md
  pnpm-lock.yaml
Due: eslint --fix --max-warnings=150, prettier --write

fix: resolve TypeScript error in AgentObservabilityTab
  apps/playground/src/components/settings/AgentObservabilityTab.tsx
Due: eslint --fix --max-warnings=150, prettier --write

fix: correct failing agent test generator implementation
  apps/agent-service/src/services/agent-runtime.test.ts
Due: eslint --fix --max-warnings=150, prettier --write

fix agenti, indexing, etc
  apps/agent-service/src/http/sse.ts
  apps/agent-service/src/server.ts
  apps/agent-service/src/services/agent-runtime.test.ts
  apps/agent-service/src/services/agent-runtime.ts
  apps/api/src/entities/entities.service.ts
  apps/api/src/mcp/mcp.service.ts
  apps/mcp-server/src/main.ts
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/pages/EntityDetail.tsx
  config/demo/agents.json
  package.json
  packages/search/src/index.ts
  packages/search/src/indexing.ts
  scripts/check-docker.sh
  scripts/docker-reset-commands.md
  scripts/fix-docker.sh
  scripts/reset-docker.sh
  scripts/start-all.sh
  scripts/test-start-all.sh
Due: eslint --fix --max-warnings=150, prettier --write

fix push
  apps/playground/src/pages/EntityDetail.tsx
Due: eslint --fix --max-warnings=150, prettier --write

Update main.ts
  apps/mcp-server/src/main.ts
Due: eslint --fix --max-warnings=150, prettier --write

Update mcp.service.ts
  apps/api/src/mcp/mcp.service.ts
Due: eslint --fix --max-warnings=150, prettier --write

Fix API Dockerfile to include agent-service workspace deps
  apps/api/Dockerfile
Due: none

Fix API key prefix extraction logic
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=150, prettier --write

Limit API Docker image build to required apps
  apps/api/Dockerfile
Due: none

fix per deploy
  apps/api/Dockerfile
  scripts/fix-docker.sh
  scripts/reset-docker.sh
  scripts/test-start-all.sh
Due: none

Update apikey.ts
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=150, prettier --write

Update Dockerfile
  apps/api/Dockerfile
Due: none

Path conditions:
  eslint --fix --max-warnings=150: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
