Repository netingweb/atlas-headless-crm: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=100, prettier --write

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --fix --max-warnings=100", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: implement advanced components and complete documentation
  AUTHORS.md
  CONTRIBUTING.md
  LICENSE
  README.md
  apps/api/package.json
  apps/api/src/auth/auth.service.test.ts
  apps/api/src/entities/entities.events.ts
  apps/api/src/entities/entities.service.ts
  apps/api/src/main.ts
  apps/indexer/package.json
  apps/indexer/src/backfill.ts
  apps/indexer/src/main.ts
  apps/indexer/tsconfig.json
  apps/mcp-server/package.json
  apps/mcp-server/src/main.ts
  apps/mcp-server/tsconfig.json
  apps/workflow/package.json
  apps/workflow/src/main.ts
  apps/workflow/src/workflow-engine.ts
  apps/workflow/tsconfig.json
  docs/ROADMAP.md
  docs/guides/indexer.md
  docs/guides/mcp-server.md
  docs/guides/workflow-engine.md
  package.json
  packages/auth/src/guards.js.map
  packages/config/src/loader.js
  packages/config/src/loader.js.map
  packages/config/src/loader.ts
  packages/core/src/acl.js.map
  packages/core/src/validation.js.map
  packages/db/src/repository.js.map
  packages/search/src/typesense-client.js
  packages/search/src/typesense-client.js.map
  packages/utils/src/helpers.js
  packages/utils/src/helpers.js.map
Due: eslint --fix --max-warnings=100, prettier --write

fix: Resolve critical TypeScript linting warnings
  apps/api/src/auth/auth.controller.ts
  apps/api/src/config/config.controller.ts
  apps/api/src/search/search.controller.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: Add missing User type import in auth controller
  apps/api/src/auth/auth.controller.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: resolve MCP tool validation and AI agent streaming issues
  apps/api/src/common/pipes/smart-validation.pipe.ts
  apps/api/src/mcp/mcp.controller.ts
  apps/playground/package.json
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/settings/AIEngineTab.tsx
  apps/playground/src/components/settings/MCPToolsTab.tsx
  apps/playground/src/components/ui/badge.tsx
  apps/playground/src/components/ui/checkbox.tsx
  apps/playground/src/components/ui/table.tsx
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/lib/api/mcp.ts
  apps/playground/src/pages/Settings.tsx
  apps/playground/src/stores/ai-store.ts
  apps/playground/vite.config.ts
  echo
Due: eslint --fix --max-warnings=100, prettier --write

chore: remove accidentally added echo file
  echo
Due: none

feat: implement role-based permissions system with API filtering
  apps/api/src/config/config.controller.ts
  apps/api/src/entities/entities.controller.ts
  apps/api/src/indexing/indexing.controller.ts
  apps/api/src/mcp/mcp.controller.ts
  apps/api/src/search/search.controller.ts
  apps/api/src/stats/stats.controller.ts
  apps/playground/src/components/settings/APIMethodsTab.tsx
  apps/playground/src/lib/api/config.ts
  apps/playground/src/lib/api/permissions.ts
  apps/playground/src/pages/EntityDetail.tsx
  apps/playground/src/pages/EntityList.tsx
  apps/playground/src/pages/Login.tsx
  apps/playground/src/pages/Settings.tsx
  docs/USERS.md
  docs/playground-api-analysis.md
  packages/auth/src/guards.ts
  packages/auth/src/index.ts
  scripts/seed.ts
Due: eslint --fix --max-warnings=100, prettier --write

docs: remove obsolete playground-analysis.md
  docs/playground-analysis.md
Due: prettier --write

name fixing
  .env.example
  AUTHORS.md
  CONTRIBUTING.md
  README.md
  apps/api/package.json
  apps/api/src/main.ts
  apps/api/src/mcp/mcp.service.ts
  apps/api/src/search/search.service.ts
  apps/api/src/stats/stats.controller.ts
  apps/playground/README.md
  apps/playground/index.html
  apps/playground/public/manifest.json
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/layout/Sidebar.tsx
  apps/playground/src/components/settings/MCPToolsTab.tsx
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/lib/api/client.ts
  apps/playground/src/pages/Login.tsx
  apps/playground/src/stores/ai-store.ts
  apps/playground/vite.config.ts
  config/README.md
  config/demo/mcp.manifest.json
  docs/ROADMAP.md
  docs/guides/data-model.md
  docs/guides/openai-setup.md
  docs/guides/quickstart.md
  docs/guides/testing.md
  docs/playground-api-analysis.md
  docs/postman/CRM-Atlas.postman_collection.json
  docs/postman/CRM-Atlas.postman_environment.json
  docs/postman/README.md
  package.json
  packages/auth/package.json
  packages/embeddings/src/factory.ts
  packages/search/src/typesense-client.ts
  scripts/seed.sh
  scripts/start-api.sh
  test-api.sh
Due: eslint --fix --max-warnings=100, prettier --write

fixing
  README.md
  scripts/start-api.sh
Due: prettier --write

fix CI
  apps/playground/package.json
  apps/playground/src/components/settings/APIMethodsTab.tsx
  apps/playground/src/components/settings/MCPToolsTab.tsx
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/lib/api/indexing.ts
  apps/playground/src/lib/api/permissions.ts
  apps/playground/src/pages/EntityDetail.tsx
  apps/playground/src/pages/WorkflowDetail.tsx
  apps/playground/src/stores/ai-store.ts
  apps/playground/src/vite-env.d.ts
  package.json
  packages/auth/package.json
  packages/config/package.json
  packages/core/package.json
  packages/utils/package.json
  scripts/start-api.sh
Due: eslint --fix --max-warnings=100, prettier --write

fix CI
  package.json
  scripts/start-api.sh
Due: prettier --write

fix: resolve lint errors and improve workflow system
  apps/api/src/entities/entities.service.ts
  apps/api/src/workflows/dto/test-workflow.dto.ts
  apps/api/src/workflows/dto/update-workflow.dto.ts
  apps/api/src/workflows/workflows.controller.ts
  apps/api/src/workflows/workflows.service.ts
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/layout/TopBar.tsx
  apps/playground/src/components/settings/AIEngineTab.tsx
  apps/playground/src/components/settings/CacheTab.tsx
  apps/playground/src/components/settings/IndexingTab.tsx
  apps/playground/src/components/ui/badge.tsx
  apps/playground/src/components/ui/toaster.tsx
  apps/playground/src/lib/api/entities.ts
  apps/playground/src/lib/api/workflows.ts
  apps/playground/src/pages/EntityDetail.tsx
  apps/playground/src/pages/EntityList.tsx
  apps/playground/src/pages/Login.tsx
  apps/playground/src/pages/WorkflowDetail.tsx
  apps/playground/src/pages/WorkflowsList.tsx
  apps/playground/vite.config.ts
  apps/workflow/src/action-runner.ts
  apps/workflow/src/workflow-engine.ts
  config/demo/workflows.json
  docs/analysis/workflow-system-analysis.md
  packages/db/src/repository.ts
  packages/types/package.json
  packages/types/src/workflows.ts
  scripts/sync-config.ts
  workflow-test-new-customer.json
Due: eslint --fix --max-warnings=100, prettier --write

fix workflows executions
  .lintstagedrc.json
Due: prettier --write

fix: add --passWithNoTests flag to test scripts and fix test dependencies
  apps/api/package.json
  apps/api/src/entities/entities.service.test.ts
  apps/indexer/package.json
  apps/mcp-server/package.json
  apps/workflow/package.json
  package.json
  packages/db/package.json
  packages/embeddings/package.json
  packages/search/package.json
Due: eslint --fix --max-warnings=100, prettier --write

fix tests
  apps/api/src/auth/auth.service.test.ts
  apps/api/src/entities/entities.service.test.ts
  apps/api/src/entities/relations.service.test.ts
  apps/api/src/mcp/mcp.service.ts
  docs/guides/workflow-engine.md
  package.json
Due: eslint --fix --max-warnings=100, prettier --write

miglioramento ai tools mcp
  apps/api/src/common/filters/http-exception.filter.ts
  apps/api/src/common/pipes/dynamic-entity.pipe.ts
  apps/api/src/documents/documents.module.ts
  apps/api/src/entities/entities.service.ts
  apps/api/src/main.ts
  apps/api/src/mcp/mcp.service.ts
  apps/api/src/workflows/workflows.service.ts
  apps/mcp-server/src/main.ts
  apps/playground/package.json
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/lib/api/config.ts
  apps/playground/src/pages/EntityDetail.tsx
  config/demo/entities.json
  docs/guides/data-model.md
  packages/config/src/cache.ts
  packages/config/src/loader.ts
  packages/core/src/validation.ts
  packages/search/src/typesense-client.ts
  packages/types/src/entities.ts
Due: eslint --fix --max-warnings=100, prettier --write

multitenent fix
  apps/api/src/documents/documents.service.ts
  apps/api/src/documents/documents.worker.ts
  apps/api/src/entities/entities.service.ts
  apps/api/src/entities/relations.service.ts
  apps/api/src/search/search.service.ts
  apps/indexer/src/backfill.ts
  apps/indexer/src/main.ts
  apps/playground/src/components/layout/TopBar.tsx
  apps/playground/src/stores/auth-store.ts
  config/demo2/dictionary.json
  config/demo2/documents.json
  config/demo2/entities.json
  config/demo2/mcp.manifest.json
  config/demo2/permissions.json
  config/demo2/sharing_policy.json
  config/demo2/tenant.json
  config/demo2/units.json
  config/demo2/workflows.json
  docs/analysis/entity-scope-analysis.md
  packages/db/src/repository.ts
  packages/search/src/query-builder.ts
  packages/search/src/typesense-client.ts
  packages/types/src/entities.ts
  packages/utils/src/helpers.ts
  scripts/seed-demo2-products.ts
  scripts/seed-demo2-users.ts
Due: eslint --fix --max-warnings=100, prettier --write

chain of thought
  apps/api/src/entities/entities.service.test.ts
  apps/playground/src/components/ai/ChainOfThought.tsx
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/settings/AgentObservabilityTab.tsx
  apps/playground/src/lib/ai/agent-logger.ts
  apps/playground/src/pages/Settings.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix mcp tools
  apps/api/src/mcp/mcp.service.ts
  apps/mcp-server/src/main.ts
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/settings/AIEngineTab.tsx
  apps/playground/src/lib/ai/agent.ts
  apps/playground/src/pages/EntityDetail.tsx
  apps/playground/src/stores/ai-store.ts
  docs/mcp-tools-testing-summary.md
  packages/search/src/typesense-client.ts
  scripts/check-typesense-collection.ts
  scripts/test-mcp-tools.sh
  scripts/test-mcp-tools.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add secure API keys management and fix CI issues
  .github/workflows/ci.yml
  .gitignore
  apps/playground/src/components/ai/ActionableQuestions.tsx
  apps/playground/src/lib/ai/agent.ts
  config/README.md
  config/demo/tenant.json.example
  config/demo2/tenant.json.example
  docs/guides/api-keys-security.md
  packages/config/src/loader.ts
  pnpm-lock.yaml
  scripts/sync-config.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix vari
  apps/playground/src/components/ai/ChainOfThought.tsx
  apps/playground/src/components/ai/ChatInterface.tsx
  apps/playground/src/components/ai/ConfirmationDialog.tsx
  apps/playground/src/components/ui/dialog.tsx
Due: eslint --fix --max-warnings=100, prettier --write

Create tenant.json.example
  config/demo/tenant.json.example
Due: none

Update apikey.ts
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: replace Docker image with npm install for Spectral CLI
  .github/workflows/ci.yml
Due: prettier --write

fix: improve CI workflow and fix typecheck errors
  .github/workflows/ci.yml
  apps/playground/src/components/settings/EntityVisibilityTab.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix lint CI
  apps/playground/src/pages/EntityDetail.tsx
  apps/playground/src/pages/EntityList.tsx
  apps/playground/src/pages/WorkflowDetail.tsx
Due: eslint --fix --max-warnings=100, prettier --write

fix: use correct path for API main.js in CI workflow
  .github/workflows/ci.yml
Due: prettier --write

fix: use absolute path from project root for API start
  .github/workflows/ci.yml
Due: prettier --write

field multiple
  .cursor/plans/support-multiple-enum-values-6fa95256.plan.md
  apps/api/src/entities/entities.service.ts
  apps/api/src/entities/relations.service.ts
  apps/api/src/main.ts
  apps/api/src/mcp/mcp.service.ts
  apps/mcp-server/src/main.ts
  apps/playground/src/components/settings/EntityVisibilityTab.tsx
  apps/playground/src/components/ui/multi-select.tsx
  apps/playground/src/pages/EntityDetail.tsx
  config/demo/entities.json
  config/demo2/entities.json
  docs/guides/data-model.md
  packages/core/src/validation.ts
  packages/search/src/query-builder.ts
  packages/search/src/typesense-client.ts
  packages/types/src/entities.ts
  scripts/fix-demo2-data.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: resolve lint and build errors
  apps/playground/src/components/layout/TopBar.tsx
  packages/core/src/validation.ts
Due: eslint --fix --max-warnings=100, prettier --write

feat: add multiple enum values support and improve entity relations
  apps/api/src/app.module.ts
  apps/api/src/config/config.controller.ts
  apps/api/src/entities/entities.service.ts
  apps/api/src/mcp/mcp.service.ts
  apps/mcp-server/src/main.ts
  apps/playground/src/components/layout/Sidebar.tsx
  apps/playground/src/components/settings/EntityVisibilityTab.tsx
  apps/playground/src/lib/api/entities.ts
  apps/playground/src/lib/utils.ts
  apps/playground/src/pages/EntityDetail.tsx
  apps/playground/src/pages/EntityList.tsx
  config/demo/entities.json
  config/demo2/entities.json
  docs/guides/data-model.md
  packages/auth/src/apikey.ts
  packages/types/src/entities.ts
  scripts/fix-demo2-data.ts
  scripts/sync-config.ts
  scripts/test-mcp-tools.sh
Due: eslint --fix --max-warnings=100, prettier --write

fix: improve extractPrefix function with better validation
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=100, prettier --write

Update README.md
  README.md
Due: prettier --write

fix: improve base64url length calculation in extractPrefix
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: improve extractPrefix function clarity and robustness
  packages/auth/src/apikey.test.ts
  packages/auth/src/apikey.ts
Due: eslint --fix --max-warnings=100, prettier --write

fix: move dotenv from devDependencies to dependencies
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write
